@import url('https://fonts.cdnfonts.com/css/open-sauce-one');

:root {
  --brand-gray: #f5f3f3;
  --brand-purple: #72035d;
  --grey-400: #757575;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sauce One', sans-serif;
}

p,
h1 {
  white-space: nowrap;
  margin: 0;
  display: inline;
}

h1 {
  font-weight: 800;
  letter-spacing: -0.02em;
  color: var(--brand-purple);
}

p {
  font-weight: 400;
}
